body {
  background-image: url("BGmercado.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}



h1 {
  text-align:center;
  font-size: 50px;
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

h3 {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000; 
}

h2 {
  text-decoration: underline;
  text-align: center;
  color: red;
}


td {
  font-size: 25px;
}

label {
  font-size: 30px;
}

a {
  font-size: 25px;
}

.btn {
  font-size: 25px;
}

p {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

a button {
  font-size: 15px;
}

input[type=text] {
  width: 75%;
  background-color: rgb(207, 207, 207);
  border: 3px solid;
}
input[type=text]:focus {
  border: 3px solid
}

input[type=number] {
  width: 25%;
  background-color: rgb(207, 207, 207);
  border: 3px solid
}
input[type=number]:focus {
  border: 3px solid
}

input[type=password] {
  width: 50%;
  background-color: rgb(207, 207, 207);
  border: 3px solid
}
input[type=password]:focus {
  border: 3px solid
}

.tamtabela {
  width: 20%;
}

.seletor {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid;
}

.btConfirma {
  background-color: rgb(43, 151, 0);
  font-weight: bold;
  font-size: 25px;
  border: 2px solid rgb(17, 114, 0);
  border-radius: 7px;
  color: #ffffff;
  padding: 5px;
}

.btExclui {
  background-color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 25px;
  border: 2px solid rgb(122, 0, 0);
  border-radius: 7px;
  color: #ffffff;
  padding: 5px;
}
